.timer-slider {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem; /* space-x-2 */
}

.time-display {
  font-size: 0.875rem; /* text-sm */
  width: 3rem; /* w-12 */
  text-align: center;
}

.slider-input {
  flex-grow: 1;
  height: 0.5rem; /* h-1 */
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
  outline: none;
}